<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hamed.obdapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/obdblue"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hamed.obdapp.BluetoothActivity"
            android:label="Bluetooth terminal"
            android:parentActivityName="com.example.hamed.obdapp.MainActivity" >
        </activity>
    </application>

</manifest>
